{% extends 'base.html '%}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<section class="hero-wrap hero-wrap-2">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center ftco-animate pt-5">
                <h1 class="mb-3 bread">Our Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                        class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="/articles/">Blog <i
                        class="fa fa-chevron-right"></i></a></span> <span>Blog Details<i
                        class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container-fluid px-md-4">
        <div class="row no-gutters">
            <div class="col-md-12 blog-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-6 img img-blog js-fullheight" style="background-image: url( {{ article.image.url }} );">
                    </div>
                    <div class="col-md-6">
                        <div class="text p-md-5 py-5 px-4 ftco-animate">
                            <p class="meta">
                                <a href="#"><span class="fa fa-calendar mr-2"></span>{{ article.created}}</a>
                                <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span>{{ comment.count}}</a>
                            </p>
                            <h2 class="mb-4"><a href="/blogsingle/">{{ article.title|title}}</a></h2>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pt-4 py-md-5">
                    <div class="col-md-7">
                        <div class="py-4">
                            <p>{{article.description|title}}
                        </div>
                        <div class="py-4">
                            <h3>How It Works</h3>
                            <p>{{article.how_it_works|title}}</p>
                        </div>
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                {% for tag in article.tags.all %}
                                <a class="tag-cloud-link">{{tag.tag_name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="comment-post py-5">
                            <h3 class="mb-5">{{comments.count}} Comments</h3>
                            <ul class="comment-list">
                                {% for i in comments %}
                                <li class="comment">
                                    <div class="comment-body">
                                        <h3>{{ i.full_name }}</h3>
                                        <div class="meta">{{i.created}}</div>
                                        <p>{{ i.message }}</p>
<!--                                        <p><a href="#" class="reply">Reply</a></p>-->
                                    </div>
                                </li>
                                {%endfor%}
                            </ul>

                        </div>
                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form method="post" action="#" class="p-5 comment-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="full_name">Name *</label>
<!--                                            <input type="text" class="form-control" id="name">-->
                                            {{ form.full_name }}

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
<!--                                            <input type="email" class="form-control" id="email">-->
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="message">Message</label>
<!--                                            <textarea name id="message" cols="30" rows="10"-->
<!--                                                      class="form-control"></textarea>-->
                                            {{ form.message }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-intro ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Subscribe to our Newsletter</h2>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}