{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<section class="hero-wrap hero-wrap-2">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center ftco-animate pt-5">
                <h1 class="mb-3 bread">Our Blog</h1>
                <p class="breadcrumbs">
                    <span class="mr-2">
                        <a href="/">Home <i class="fa fa-chevron-right"></i></a>
                    </span>
                    <span>
                        Blog <i class="fa fa-chevron-right"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container-fluid">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-6 col-lg-4 blog-wrap blog-wrap-2 px-md-5 ftco-animate">
                    <a href="{% url 'blog_single' article.id %}"
                       class="img img-blog w-100 border d-block"
                       style="background-image: url({{ article.image.url }});">
                    </a>

                    <div class="text text-2 py-4 p-0 ftco-animate">
                        <p class="meta">
                            <a href="{% url 'blog_single' article.id %}">
                                <span class="fa fa-calendar mr-2"></span>{{ article.created }}
                            </a>
                            <a href="{% url 'blog_single' article.id %}">
                                <span class="fa fa-user mr-2"></span>Admin
                            </a>
                            <a href="{% url 'blog_single' article.id %}" class="meta-chat">
                                <span class="fa fa-comment mr-2"></span>{{ article.approved_comments_count }}
                            </a>
                        </p>

                        <h2 class="mb-4">
                            <a href="{% url 'blog_single' article.id %}">{{ article.title|title }}</a>
                        </h2>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12 py-5 text-center">
                    <p>No articles found.</p>
                </div>
            {% endfor %}
        </div>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if articles.has_previous %}
                            <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
                        {% endif %}

                        {% for i in articles.paginator.page_range %}
                            {% if articles.number == i %}
                                <li class="active"><span><a href="?page={{ i }}">{{ i }}</a></span></li>
                            {% else %}
                                <li><span><a href="?page={{ i }}">{{ i }}</a></span></li>
                            {% endif %}
                        {% endfor %}

                        {% if articles.has_next %}
                            <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
