<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">

    <a class="navbar-brand" href="/">
      {% if home %}
        {{ home.name_part1|title }}{{ home.name_part2 }}{{ home.name_part3 }}
      {% else %}
        Brand
      {% endif %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a href="/" class="nav-link">Home</a>
        </li>

        {# /articles/ bo'lsa ham, /articles/1/ bo'lsa ham active bo'ladi #}
        <li class="nav-item {% if request.path|slice:":10" == '/articles/' %}active{% endif %}">
          <a href="/articles/" class="nav-link">Articles</a>
        </li>

        <li class="nav-item {% if request.path|slice:":7" == '/about/' %}active{% endif %}">
          <a href="/about/" class="nav-link">About</a>
        </li>

        <li class="nav-item {% if request.path|slice:":9" == '/contact/' %}active{% endif %}">
          <a href="/contact/" class="nav-link">Contact</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
